@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

.azeret-mono-regular {
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.primary-color{
    color: #0D1321;
}

.subtitles-color{
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

/* header styles */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    /* background-repeat: no-repeat; */
    background-position: cover;
    height: 652px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 998px;
    height: 582px;
    text-align: center;
}

.hero-content h1{
    font-size: 48px;
    font-weight: 800;
}

.hero-content button{
    background-color: rgb(13, 19, 33);
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* why web dev styles */

.reasons{
    background-color: rgba(13, 19, 33, 0.02);
    margin: 80px auto;
    width: 1140px;
    border-radius: 16px;
    padding: 80px 97px;
}

.reasons h2{
    font-size: 32px;
    font-weight: 800;
}

.reasons > h2, .reasons > p{
    text-align: center;
    margin: 44px 0px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    border-radius: 16px;
    gap: 100px;
}

.card-bg-style-one{
    background-image: linear-gradient(to right, white, transparent);
}

.card-bg-style-two{
    background-image: linear-gradient(to left, white, transparent);
}

.card-texts > h3, p, button{
    margin-bottom: 30px;
}

.card-texts h3{
    font-size: 24px;
    font-weight: 700;
}

.learn-more-btn{
    padding: 12px 20px;
    border: 1px solid;
    border-color: rgba(13, 19, 33, 0.4);
    font-size: 20px;
    font: 600;
    background-color: white;
}