@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

.azeret-mono-regular {
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.primary-color {
    color: #0D1321;
}

.subtitles-color {
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 44px 0px;
}

.section-subtitle {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin: 0px 0px 44px 0px;
    text-align: center;
    font-size: 20px;
}

.section-width {
    width: 1140px;
    margin: 0 auto;
}

/* header styles */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    /* background-repeat: no-repeat; */
    background-position: cover;
    height: 652px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 998px;
    height: 582px;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-content button {
    background-color: rgb(13, 19, 33);
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* why web dev styles */

.reasons {
    background-color: rgba(13, 19, 33, 0.02);
    margin: 80px auto;
    width: 1140px;
    border-radius: 16px;
    padding: 80px 97px;
}

/* .reasons > h2, .reasons > p{
    text-align: center;
    margin: 44px 0px;
} */

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    border-radius: 16px;
    gap: 100px;
}

.card-bg-style-one {
    background-image: linear-gradient(to right, white, transparent);
}

.card-bg-style-two {
    background-image: linear-gradient(to left, white, transparent);
}

.card-texts>h3,
p,
button {
    margin-bottom: 30px;
}

.card-texts h3 {
    font-size: 24px;
    font-weight: 700;
}

.learn-more-btn {
    padding: 12px 20px;
    border: 1px solid;
    border-color: rgba(13, 19, 33, 0.4);
    font-size: 20px;
    font: 600;
    background-color: white;
}

/* my inspiration styles */

#my-inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-inspiration p {
    margin-top: 0px;
}

#my-inspiration iframe {
    padding: 32px;
    border: 1px solid grey;
    border-radius: 16px;
    margin-bottom: 44px;
}

/* my current target styles */

#current-target-section {
    width: 1140px;
    margin: 0 auto;
}

.target-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.target-card-content {
    width: 340px;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 20px;
}

.html {
    background-color: rgba(255, 76, 30, 0.05);
}

.css{
    background-color: rgba(0, 76, 232, 0.05);
}

.js{
    background-color: rgba(255, 223, 0, 0.05);
}

/* support section style */

#support-section{
    background-image: linear-gradient(0deg, black, transparent), url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1140px;
    border-radius: 16px;
    margin: 50px auto;
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#support-section h2{
    color: white;
}

#support-section p{
    color: white;
    opacity: 1.0;
}

#support-section input{
    width: 548px;
    padding: 20px;
    border-radius: 8px;
    border: none;
}

#support-section button{
    padding: 17px 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: none;
    border-radius: 8px;
}

/* footer styles */

footer{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
}

footer img{
    margin-right: 24px;
}